body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}


h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Testimonial Section */

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Pricing Section */

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


#title {
    background-color: #ff4c68;
    color: white;
    position: relative;
    text-align: left;
}

#title .container-fluid {
    padding: 7% 15%;
}

.container-fluid {
    padding: 7% 15%;
}


#dog {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}


/* navbar */
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 600;;
}

.navbar {
    padding: 0rem 0rem;
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 450;
}

/* download buttons */
.download-btn {
    margin: 5% 2% 5% 0%;
}

/* features */


.light-text {
    color: #8f8f8f;
    font-weight: 500;
}

.feature-fa {
    color: #ef8172;
}

.feature-fa:hover {
    color: #ff4c68;
}

#features {
    padding: 5% 0%;
    background-color: white;
    position: relative;
    z-index: 1;
}

i {
    padding: 3% 0%;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: white;
}

.testimonials {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    color: white;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 15px 50px;
}


#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    #dog {
        position: static;
        transform: rotate(0deg);
    }
}

/* CTA */
#cta {
    background-color: #ff4c68;
    color: white;;
}

.cta_line {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#footer {
    padding: 50px 0px;  
}

.social-icon {
    margin: 20px 15px;
    padding: 30px 0px 0px 0px;
}

.footer {
    color: grey;
}